
.AddRules{
	position: fixed;
    top: 10%;
    left: 30%;
    width: 35%;
    border: 1px solid ;
    border-radius: 0.5em;
    background-color: #FDFFFC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    color: #011627;
    flex-wrap: wrap;
    cursor: -webkit-grab;
  	cursor: grab;
}

.close{
    width: 2em;
    height: 2em;
    align-self: flex-end;
}


.content{
    display: flex;
    width: 80%;
    height: 70%;
  	justify-content: center;
  	align-items: left;
  	flex-direction: column;
}


label{
	 padding: 0px 0px 0px 0px;
}
