/* colors: https://coolors.co/011627-fdfffc-2ec4b6-e71d36-ff9f1c */
* {
    padding: 0;
    margin: 0;
}

button{
    border: 2px solid #011627;
    border-radius: 0.3em;
    background-color: #2EC4B6;
    
    padding: 0.5em;
    
    transition: 0.3s;
}

button:focus{
    outline: none;
}

button:hover{
    background-color: #E71D36;
    cursor: pointer;
}

.TextForm{
    width: 100%;
    height: 200vh;
}

.head{
    width: 100%;
    height: 80px;
    padding: 12px 12px 12px 12px;
    background-color: #008000;
    display: flex;
    align-items: center;
    color: #FDFFFC;
}

.check > label {
  padding: 12px 0 0 12px;
  display: inline-block;
  float: left;
  width: 20%;
  margin-top: 25px;
}

.check > textarea{
  height: 200px;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  float: left;
  width: 78%;
  margin-top: 25px;
}

.check > textarea:focus {
  border: 1px solid #4CAF50;;
}

.check > button{
  background-color: #4CAF50;
  color: white;
  margin: 12px 35px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.check > button:hover {
  background-color: #45a049;
}

.total {
    font-weight: bold;
}

/*
.during-popup{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}*/
