body {
  background-color: #FFFAFA;
}

div {
  position: relative;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  float: left;
  width: 20%;
  margin-top: 6px;
}

textarea{
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  float: left;
  width: 70%;
  margin-top: 6px;
}

textarea:focus {
  border: 1px solid #4CAF50;;
}

button{
  background-color: #4CAF50;
  color: white;
  margin: 12px 35px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

button:hover {
  background-color: #45a049;
}





