/* colors: https://coolors.co/011627-fdfffc-2ec4b6-e71d36-ff9f1c */
* {
    padding: 2px 2px 2px 2px;
    margin: 0;
}

.TextForm{
    width: 100%;
    height: 200vh;
}

.head{
    width: 100%;
    height: 80px;
    padding: 12px 12px 12px 12px;
    background-color: #008000;
    display: flex;
    align-items: center;
    color: #FDFFFC;
}

.check > button{
  margin: 12px 35px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.total {
    font-weight: bold;
}
