.wrap {
  width: 100%;
  background: white;
  opacity: 0.2;
  padding: 32px;
  transition: all 0.3s ease;
  pointer-events: none;
  margin-top: 40px;
}

.closeBtn {
  display: inline-block;
  cursor: pointer;
  color: black;
  border: 2px solid black;
  padding: 12px 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.show {
  margin-top: 0;
  pointer-events: auto;
  opacity: 1;
  }
