
.PopUp{
	position: fixed;
    top: 30%;
    left: 30%;
    width: 38%;
    border: 1px solid ;
    border-radius: 1em;
    background-color: #FDFFFC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    color: #011627;
    flex-wrap: wrap;
    cursor: -webkit-grab;
  	cursor: grab;
}

.popup-close{
    width: 3em;
    height: 2em;
    border: none;
    border-top-right-radius: 1em;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    align-self: flex-end;
    justify-self: flex-start;
}


.pu-content-container{
    display: flex;
  	justify-content: center;
  	align-items: left;
  	flex-direction: column;
}

label{
	 padding: 5px 12px 12px 5px;
}
