# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: NLP4RE

on:
  push:
    branches: [ add_new_rules]
  pull_request:
    branches: [ master ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [ 11 ]
    env:
      MYSQL_DATABASE: nlp4re
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_ROOT_PASSWORD: root
    
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java-version }}
    - name: start mysql
      run: sudo systemctl start mysql.service
    - name: Build with Maven
      run: mvn clean package --file pom.xml

  coverage:
    needs: build
    runs-on: ubuntu-latest
    env:
      MYSQL_DATABASE: nlp4re
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_ROOT_PASSWORD: root
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
         java-version: 11
    - name: start mysql
      run: sudo systemctl start mysql.service
    - name: Run test and create report
      run: mvn test jacoco:report
    - name: Upload to Codecov
      run: bash <(curl -s https://codecov.io/bash)
      
  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Check Out Repo 
        uses: actions/checkout@v2
        
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
          
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/nlp4re:latest

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}

